<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content recogniser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h1>Documentation</h1>

        <div class="container-fluid">
            <h2>Introduction</h2>
            <div class="container-fluid">
                <p>This api extracts information from data.</p>
            </div>
            <h2>Usage</h2>
            <div class="container-fluid">
                <p>
                    To login use  HTTP, method: <b>POST</b>, path: <b>/login</b>, body:
                    <b>
                        {
                            "username": "&lt;your-user-name&gt;",
                            "password": "&lt;your-password&gt;"
                        }
                    </b>.
                    Api returns cookies for authorization.
                </p>
                <p>
                    To get result use HTTP, method: <b>PUT</b>, path: <b>/</b>, body: <b>form-data</b>.
                    <b>Note</b>: In order to authorize: use cookies acquired after login and
                    set header <i>X-CSRFToken</i> with value from cookie: <i>csrftoken</i>.
                    Api returns result as JSON object with keys taken from submitted form keys and
                    corresponding values as content descriptions.
                </p>
            </div>
            <h2>Supported forms of data</h2>
            <div class="container-fluid">
                <ul>
                    <li>Images of most popular formats</li>
                    <li>Sound recordings of most popular formats</li>
                    <li>Text files</li>
                    <li>Plain text</li>
                </ul>
            </div>
            <h2>Cloud services used for recognizing content of data</h2>
            <div class="container-fluid">
                <ul>
                    <li>In images:<a href="https://imagga.com/">Imagga</a>. Used Imagga's services:
                        <ul>
                            <li>tags - determines image content</li>
                            <li>text - detects alphanumeric symbols in images</li>
                            <li>colors - determins what kind of colours are in image</li>
                        </ul>
                    </li>
                    <li> For sound recordings:
                        <ul>
                            <li>
                                <a href="https://www.acrcloud.com/music-recognition/">AcrCloud</a> for music recognition
                            </li>
                            <li>
                                <a href="https://www.ibm.com/cloud/watson-speech-to-text">IBM Watson</a> for speech to
                                text
                            </li>
                        </ul>
                    </li>
                    <li>For plain texts:
                        <ul>
                            <li><a href="https://detectlanguage.com/">detectlanguage</a> for language detection</li>
                            <li>
                                <a href="https://www.ibm.com/watson/services/tone-analyzer/">IBM Watson</a> for tone
                                analysis
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>